.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.thumb-row {
    display: flex;
    flex-wrap: wrap;
}

.thumb-col {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}

.thumb-col .thumbnail {
    padding: 20px;
}

.thumb-col .thumbnail {
    padding: 20px;
}

.flexbox.thumb-row.row {
    display: block;
    margin: 0 auto;
}


